h1{
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 60px;
}
#htext{
    background-color: rgb(110, 150, 150);
    width: 200px;
    text-align: center;

}
#main{
    background-color: thistle;
    border-style: solid;
    border-radius: 40px;
    border-width: 5px;
    border-color: black;
    width: 500px;
    height: 500px;
    

}
li{
    background-color: rgb(167, 154, 96);
}